@import 'tailwindcss';
@source '../../src/**/*.tsx';

@layer base {
  :root {
    --text-primary: #ffffff;
    --text-secondary: #dddddd;
    --text-disabled: #1e1e1e;
    --check-box: #6b6c72;
    --check-box-active: #81828d;
    --input: #2d3c45;
    --input-active: #3c4c5a;
    --background: #222d33;
    --popup-border: #021823;
    --error: #562828;

    --settings-panel: #222d33;
    --settings-panel-border: #6b6c72;
    --settings-background: #021823;
    --settings-foreground: #52525b;
    --panel-shadow: none;

    /*default colors*/
    --light-color: #ffffff;
    --link-color: #2472dd;
  }

  :root.light {
    --text-primary: #000000;
    --text-secondary: #222222;
    --text-disabled: #676e78;
    --check-box: #393943;
    --check-box-active: #4c4c5a;
    --input: #d2c2ba;
    --input-active: #e5d9d2;
    --background: #ffffff;
    --popup-border: #313131;
    --error: #cc3340;

    --settings-panel: #f5f5f5;
    --settings-panel-border: #6b6c72;
    --settings-background: #ffffff;
    --settings-foreground: #52525b;
    --panel-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  }
}

@theme inline {
  --color-foreground: var(--text-primary);
  --color-foreground-secondary: var(--text-secondary);
  --color-foreground-disabled: var(--text-disabled);
  --color-check-box: var(--check-box);
  --color-check-box-active: var(--check-box-active);
  --color-input: var(--input);
  --color-input-active: var(--input-active);
  --color-background: var(--background);
  --color-popup-border: var(--border);
  --color-error: var(--error);

  --color-light-color: var(--light-color);
  --color-link-color: var(--link-color);

  --color-muted-foreground: var(--settings-foreground);
  --color-secondary: #d4d4d8;
  --color-secondary-foreground: #27272a;
}

@layer base {
  body {
    /* @apply bg-background text-foreground; */
    font-family: Arial, Helvetica, sans-serif;
  }
  @supports (-moz-animation: none) {
    .scroll-container {
      scrollbar-width: thin;
      scrollbar-color: var(--check-box) transparent;
    }
  }
  .scroll-container::-webkit-scrollbar {
    width: 8px;
  }
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--check-box);
    border-radius: 4px;
  }
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--check-box-active);
  }
  .scroll-container::-webkit-scrollbar-thumb:active {
    background-color: var(--text-secondary);
  }
}
/*TODO: добавить color-, для использования как переменной*/
