{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "crlf",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
