body {
    background-color: #021823;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #222d33;
    color: #ffffff;
}

.round-button {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: none;
    background-color: #021823;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='23' viewBox='0 0 18 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66025 0H11.6603V10.25H17.3205L8.66025 17L0 10.25H5.66025V0Z' fill='white'/%3E%3Cpath d='M0.660254 23V20H16.6603V23H0.660254Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
    color: #ffffff;
    font-size: 20px;
}


.round-button:hover {
    background-color: #021823;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.463), inset 0 0 5px rgb(255, 255, 255);
    ;

}

.round-button:active {
    transition: background-color 0.1s ease;
    background-color: #092c3d;
    transform: scale(0.9);
    box-shadow: 0 0 50px rgb(255, 255, 255);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.checkbox-container {
    margin-bottom: 10px;
}

.checkbox-container label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #ffffff;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    display: none;
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-width: 70px;
    /* Добавлено для установки минимальной ширины */
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 16px;
}

.select-container {
    flex: 1;
    /* Добавлено для растяжения списка по ширине контейнера */
}

/* Стили для выпадающего меню */
select {
    width: 100%;
    padding: 5px;
    border: 2px solid #777777;
    border-radius: 4px;
    background-color: #222d33;
    /* Темный фон */
    color: #dddddd;
    /* Цвет текста */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;

}

/* Стили для опций в выпадающем меню */
select option {
    background-color: #222d33;
    /* Темный фон */
    color: #dddddd;
    /* Цвет текста */
}

select:hover {
    transition: background-color 0.3s ease;
    border-color: #aaaaaa;
    /* Цвет границы при фокусе */
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.47);
    /* Тень при фокусе */
}


/* Стили для выпадающего списка при открытии */
select:focus {

    border-color: #aaaaaa;
    /* Цвет границы при фокусе */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    /* Тень при фокусе */
}

/* Добавлены стили для прилипания выпадающих списков к надписям */
#voice-select {
    margin-left: 10px;
}

#season-select {
    margin-left: 22px;
}

#episode-select {
    margin-left: 16px;
}

#quality-select {
    margin-left: 10px;
}

.save-button-container {
    text-align: center;
}

.save-button {
    padding: 5px 10px;
    border: 2px solid #777777;
    border-radius: 4px;
    background-color: #222d33;
    color: #bbbbbb;
    font-size: 14px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
    /* Скрываем сам чекбокс */
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid #dddddd;
    /* Цвет границы */
    border-radius: 4px;
    vertical-align: middle;
}

input[type="checkbox"]:checked+label::before {
    background-color: #dddddd;
    /* Цвет заливки при активации */
    border-color: #dddddd;
    /* Цвет границы при активации */
    content: "✓";
    /* Отображаем галочку */
    color: #021823;
    /* Цвет галочки */
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}

label {
    color: #dddddd;
    /* Цвет текста */
    cursor: pointer;
}

/* При наведении курсора на чекбокс */
input[type="checkbox"]:hover+label::before {
    border-color: #aaaaaa;
    /* Цвет границы при наведении */
}