@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #ffffff;
    --text-secondary: #dddddd;
    --text-disabled: #1e1e1e;
    --check-box: #6b6c72;
    --check-box-active: #81828d;
    --input: #2d3c45;
    --input-active: #3c4c5a;
    --background: #222d33;
    --popup-border: #021823;
    --error: #562828;

    /*default colors*/
    --light-color: #ffffff;
    --link-color: #2472dd;
  }

  :root.light {
    --text-primary: #000000;
    --text-secondary: #222222;
    --text-disabled: #676e78;
    --check-box: #393943;
    --check-box-active: #4c4c5a;
    --input: #d2c2ba;
    --input-active: #e5d9d2;
    --background: #ffffff;
    --popup-border: #313131;
    --error: #cc3340;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
  @supports (-moz-animation: none) {
    .scroll-container {
      scrollbar-width: thin;
      scrollbar-color: var(--check-box) transparent;
    }
  }
  .scroll-container::-webkit-scrollbar {
    width: 8px;
  }
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--check-box);
    border-radius: 4px;
  }
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--check-box-active);
  }
  .scroll-container::-webkit-scrollbar-thumb:active {
    background-color: var(--text-secondary);
  }
}
