@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #ffffff;
    --text-secondary: #dddddd;
    --text-disabled: #1e1e1e;
    --check-box: #777777;
    --input: #2d3c45;
    --background: #222d33;
    --popup-border: #021823;
    --error: #562828;

    /*default color*/
    --light-color: #ffffff;
    --link-color: #2472dd;
  }

  :root.light {
    --text-primary: #000000;
    --text-secondary: #222222;
    --text-disabled: #676E78;
    --check-box: #313131;
    --input: #D2C2BA;
    --background: #FFFFFF;
    --popup-border: #313131;
    --error: #CC3340;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
