name: Build extension

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.list-files.outputs.files }}

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Cache npm dependencies
        uses: actions/cache@v3
        id: npm-cache
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: npm ci
        if: steps.npm-cache.outputs.cache-hit != 'true'

      - name: Build app
        run: node run-build.js --browser all --production true --zip true --keep-dist-dir false --build-number ${{ github.run_number }}

      - name: List dist/build files and set job output
        id: list-files
        run: |
          FILES=$(find dist/build -maxdepth 1 -type f -printf '%f\n' \
          | jq -R -s -c 'split("\n")[:-1] | map({path: ("dist/build/" + .), name: .})')


      - name: Upload combined artifact (all files)
        uses: actions/upload-artifact@v4
        with:
          name: all-builds
          path: dist/build/**
          retention-days: 30


  upload-per-file:
    name: ${{ matrix.file.name }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJson(needs.build.outputs.files) }}

    steps:
      - name: Download combined artifact
        uses: actions/download-artifact@v4
        with:
          name: all-builds
          path: extracted/dist/build/

      - name: Upload single file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.file.name }}
          path: extracted/${{ matrix.file.path }}
          retention-days: 30
