name: Build extension

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: build-counter

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache npm dependencies
        uses: actions/cache@v3
        id: npm-cache
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: npm ci
        if: steps.npm-cache.outputs.cache-hit != 'true'

      - name: Build app
        run: node run-build.js --browser all --production true --zip true --keep-dist-dir false --build-version ${{ github.run_number }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: builds
          path: dist/build/**
          retention-days: 30
